substitutions:
  name: "espclicker"
  friendly_name: "ESPClicker"


esphome:
  name: "${name}"
  name_add_mac_suffix: true
  project:
    name: pricelesstoolkit.espclicker
    version: "1.0"

esp8266:
  board: d1_mini
  early_pin_init: false

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true
  ap:
    ssid: "${friendly_name} Fallback Hotspot"
    password: "password"
    ap_timeout: 10s
    
captive_portal:

logger:

api:

ota:

# This should point to the public location of this yaml file.
dashboard_import:
  package_import_url: github://PricelessToolkit/ESPClicker/Config/espclicker.yaml@main
  import_full_config: true # or true

sensor:

- platform: adc
  pin: A0
  name: "${friendly_name} ADC"
  update_interval: 5s

- platform: uptime
  name: "${friendly_name} Uptime"
  id: uptime_seconds

- platform: wifi_signal
  name: "${friendly_name} WiFi Signal"

binary_sensor:

  - platform: status
    name: "${friendly_name} Status"

  - platform: gpio
    pin:
      number: 13
      inverted: true
      mode:
        input: true
    filters:
      - delayed_off: 400ms
    name: "${friendly_name} AC_Sens"

switch:
  - platform: restart
    name: "${friendly_name} restart"


##########################################
  - platform: gpio
    pin: 4
    id: Relay1
    name: "${friendly_name} Relay1"
    icon: "mdi:switch"
    restore_mode: ALWAYS_OFF
##########################################
  - platform: gpio
    pin: 5
    id: Relay2
    name: "${friendly_name} Relay2"
    icon: "mdi:switch"
    restore_mode: ALWAYS_OFF
########################################
  - platform: gpio
    pin: 12
    id: Relay3
    name: "${friendly_name} Relay3"
    icon: "mdi:switch"
    restore_mode: ALWAYS_OFF
########################################
  - platform: gpio
    id: LS1
    name: "${friendly_name} LS1"
    icon: "mdi:switch"
    restore_mode: ALWAYS_OFF
    pin: 15
########################################
  - platform: gpio
    id: LS2
    name: "${friendly_name} LS2"
    icon: "mdi:switch"
    restore_mode: ALWAYS_OFF
    pin: 14