substitutions:
  name: espclicker
  friendly_name: ESPClicker


esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  # Automatically add the mac address to the name
  # so you can use a single firmware for all devices
  name_add_mac_suffix: true
  # This will allow for (future) project identification,
  # configuration and updates.
  project:
    name: pricelesstoolkit.espclicker
    version: "1.0"

esp8266:
  board: d1_mini
  early_pin_init: false

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true
  ap:
    ssid: "${name} Fallback Hotspot"
    password: "password"
    ap_timeout: 10s


# In combination with the `ap` this allows the user
# to provision wifi credentials to the device.
captive_portal:


# To be able to get logs from the device via serial and api.
logger:

# API is a requirement of the dashboard import.
api:

# OTA is required for Over-the-Air updating
ota:

# This should point to the public location of this yaml file.
dashboard_import:
  package_import_url: github://PricelessToolkit/ESPClicker/Config/espclicker.yaml@main
  import_full_config: true # or true

sensor:

- platform: adc
  pin: A0
  name: "${name} ADC"
  update_interval: 5s

- platform: uptime
  name: "${name} Uptime"
  id: uptime_seconds

- platform: wifi_signal
  name: "${name} WiFi Signal"

binary_sensor:

  - platform: status
    name: "${name} Status"

  - platform: gpio
    pin:
      number: 13
      inverted: true
      mode:
        input: true
    filters:
      - delayed_off: 400ms
    name: "${name} AC_Sens"

switch:
  - platform: restart
    name: "${name} restart"


##########################################
  - platform: gpio
    pin: 4
    id: Relay1
    name: "${name} Relay1"
    icon: "mdi:switch"
    restore_mode: ALWAYS_OFF
##########################################
  - platform: gpio
    pin: 5
    id: Relay2
    name: "${name} Relay2"
    icon: "mdi:switch"
    restore_mode: ALWAYS_OFF
########################################
  - platform: gpio
    pin: 12
    id: Relay3
    name: "${name} Relay3"
    icon: "mdi:switch"
    restore_mode: ALWAYS_OFF
########################################
  - platform: gpio
    id: LS1
    name: "${name} LS1"
    icon: "mdi:switch"
    restore_mode: ALWAYS_OFF
    pin: 15
########################################
  - platform: gpio
    id: LS2
    name: "${name} LS2"
    icon: "mdi:switch"
    restore_mode: ALWAYS_OFF
    pin: 14